<div class="container">
  <h1>Hall Of Fame</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Company</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of series">
        <td>{{ serie.title }}</td>
        <td>{{ serie.type }}</td>
        <td>{{ serie.publisher }}</td> 
        <td><a [routerLink]="['/serie-edit', serie._id]" class="btn btn-success">EDIT</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h3>Add new serie's review
  <a [routerLink]="['/serie-create']" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</h3>