<div class="container">
  <h1>User's details</h1>
  <h2>{{ user.username }}</h2>
  <dl class="list">
    <dt>First Name</dt>
    <dd>{{ user.firstName }}</dd>
    <dt>Last Name</dt>
    <dd>{{ user.lastName }}</dd>
    <dt>Rol</dt>
    <dd>{{ user.rol }}</dd>
    <dt>Username</dt>
    <dd>{{ user.username }}</dd>
  </dl>
</div>
  <div class="row">
        <div class="col-md-12">
          <button class="btn btn-danger" type="button" (click)="deleteUser(user._id)">DELETE</button>
          <a href="http://localhost:3000/#/login" class="btn btn-success">HOME</a>
        </div>
  </div>